.btnColor{
    background-color: #3472F7 !important;
    color: white !important;
    font-weight: bold !important;
}
.btnSlaeBtn{
    background-color: #46b8da !important;
    border-color: #46b8da !important;
    color: white !important;
    font-weight: bold !important;
    margin-left: 6px !important;
}
.table th {
    vertical-align: middle;
    border: 1px solid #f7f5f5;
    font-size: 14px;
    padding: .75rem;
    vertical-align: top;
    border-top: none;
    border-left: none;
  }
  .table td {
    vertical-align: middle;
    border: 1px solid #f7f5f5;
    font-size: 14px;
    padding: .75rem;
    vertical-align: top;
    border-top: none;
    border-left: none;
  }
  .table tbody tr {
      background-color: white;
  }
  .table thead {
    background: #f7f5f5 !important;
    color: rgba(0, 0, 0, 0.87) !important;
  }



  .plot_selection:visited {
    color: green;
  }

  /* mouse over link */
  .plot_selection:hover {
    color: rgb(90, 93, 140);
  }
