<div class="modal-header">
  <h5 class="modal-title" style="width: 70%; float: left;">Add Customers</h5>
  <button type="button" class="close" aria-label="Close" (click)="relatedModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="marginLeft">Name</label>
                <input type="text" class="form-control" placeholder="Land Lord Name..." name="name"
                    #name="ngModel" [(ngModel)]="payload.name" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required>
                    <div *ngIf="f.submitted && name.invalid" class="invalid-feedback" >
                      <div *ngIf="name.errors.required">Name is required</div>
                  </div>
            </div>
        </div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="marginLeft">CNIC Number</label>
            <input type="text" class="form-control" placeholder="CNIC..." name="CNIC" pattern="[0-9]*" minlength="13" maxlength="13" 
                #CNIC="ngModel" [(ngModel)]="payload.cnic" [ngClass]="{ 'is-invalid': f.submitted && CNIC.invalid }" required >
                <div *ngIf="f.submitted && CNIC.invalid" class="invalid-feedback">
                  <div *ngIf="CNIC.errors.required">CNIC is required</div>
                  <div *ngIf="CNIC.errors.pattern">CNIC is Only Number</div>
                  <div *ngIf="CNIC.errors.minlength">CNIC is Minimum 13 Digits</div>
              </div>
        </div>
    </div>
    </div>
  <div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="marginLeft">Office Name</label>
            <input type="text" class="form-control" placeholder="Office Nane" name="Office"
                #Office="ngModel" [(ngModel)]="payload.office_name" [ngClass]="{ 'is-invalid': f.submitted && Office.invalid }" required >
                <div *ngIf="f.submitted && Office.invalid" class="invalid-feedback">
                  <div *ngIf="Office.errors.required">Phone  is required</div>
                  <div *ngIf="Office.errors.pattern">Phone is Only Number</div>
              </div>
        </div>
    </div>
</div>
<div class="row">
<div class="col-md-12">
    <div class="form-group">
        <label class="marginLeft">Office Address</label>
        <input type="text"  class="form-control" placeholder="Address..." name="Address"
            #Address="ngModel" [(ngModel)]="payload.office_address" [ngClass]="{ 'is-invalid': f.submitted && Address.invalid }" required >
            <div *ngIf="f.submitted && Address.invalid" class="invalid-feedback">
              <div *ngIf="Address.errors.required">Address is required</div>
          </div>
    </div>
</div>
</div>
<div class="row">
  <div class="col-md-12">
      <div class="form-group">
          <label class="marginLeft">Personal Contact Number</label>
          <input type="text" class="form-control" placeholder="Personal contact..." name="phone" 
              #phone="ngModel" [(ngModel)]="payload.personal_contact" [ngClass]="{ 'is-invalid': f.submitted && phone.invalid }" required >
              <div *ngIf="f.submitted && phone.invalid" class="invalid-feedback">
                <div *ngIf="phone.errors.required">Phone  is required</div>
                <div *ngIf="phone.errors.pattern">Phone is Only Number</div>
            </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
      <div class="form-group">
          <label class="marginLeft">Commision Percentage</label>
          <input type="text" class="form-control" placeholder="Commision Percentage" name="phone" pattern="[0-9]*"
              #percentage="ngModel" [(ngModel)]="payload.commision_percentage" [ngClass]="{ 'is-invalid': f.submitted && phone.invalid }" required >
              <div *ngIf="f.submitted && phone.invalid" class="invalid-feedback">
                <div *ngIf="phone.errors.required">percentage  is required</div>
                <div *ngIf="phone.errors.pattern">percentage is Only Number</div>
            </div>
      </div>
  </div>
</div>
<div class="row">
<div class="col-md-12">
  <button type="submit" class="btn btn-info btn-fill pull-right" [disabled] ="isLoading">Save<span *ngIf="isLoading"
    class="btn-spinnerr"></span></button>
</div>
</div>
  </form>
  </div>
  <!-- </div> -->