<div class="modal-header">
  <h5 *ngIf="!isUpdate" class="modal-title" style="width: 70%; float: left;">Plot Detail</h5>
  <h5 *ngIf="isUpdate" class="modal-title" style="width: 70%; float: left;">Update Plot</h5>
  <button type="button" class="close" aria-label="Close" (click)="relatedModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body container">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label class="marginLeft">Plot Number</label>
        <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="payload.plotNumber" [disabled]="!isUpdate">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="marginLeft">Plot Type</label>
        <!-- 0 is residential and 1 is commercial -->
        <select class="form-control select-box-height" name="plotType" #plotType="ngModel"
          [(ngModel)]="payload.plotType">
          <option [selected]="payload.plotType == '0'" [value]="0">Residential</option>
          <option [selected]="payload.plotType == '1'" [value]="1">Commercial</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label class="marginLeft">Plot Category</label>
        <select class="form-control select-box-height" name="land" #land="ngModel"
          [(ngModel)]="payload.plotcategoriesId">
          <option *ngFor="let item of plotcategories" [disabled]="!isUpdate" [selected]="payload?.plotcategoriesId == item?.id"
            [value]="item?.id"> {{item?.categoryName}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label class="marginLeft">Plot Size</label>
        <input type="text" class="form-control" name="size" #size="ngModel" [disabled]="!isUpdate" [(ngModel)]="payload.size">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="marginLeft">Land Measuring Unit</label>
        <select class="form-control select-box-height" name="measuringUnit" #measuringUnit="ngModel"
          [(ngModel)]="payload.measuringUnit">
          <option *ngFor="let item of measurementsList" [disabled]="!isUpdate"
            [selected]="item?.measuring_unit == payload.measuringUnit">
            {{item?.measuring_unit}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label class="marginLeft">Town</label>
        <select class="form-control select-box-height" name="SubCategoryId" #SubCategoryId="ngModel"
          [(ngModel)]="payload.townId">
          <option *ngFor="let item of townList" [disabled]="!isUpdate" [selected]="item?.id == payload.townId"> {{item?.name}}
          </option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="marginLeft">Town Phase</label>
        <input type="text" class="form-control" name="street" #townPhase="ngModel" [disabled]="!isUpdate"
          [(ngModel)]="payload.townPhase">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label class="marginLeft">Street Number</label>
        <input type="text" class="form-control" name="street" #street="ngModel" [disabled]="!isUpdate" [(ngModel)]="payload.street">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="marginLeft">Reference Number</label>
        <input type="text" class="form-control" [disabled]="!isUpdate" name="reference" #reference="ngModel"
          [(ngModel)]="payload.reference">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label class="marginLeft">Total Payment</label>
        <input type="text" class="form-control" name="totalPayment" #totalPayment="ngModel"
          [(ngModel)]="payload.totalPayment" [disabled]="!isUpdate">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="marginLeft">Down Payment</label>
        <input type="text" class="form-control" name="downPayment" #downPayment="ngModel"
          [(ngModel)]="payload.downPayment" [disabled]="!isUpdate">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label class="marginLeft">No. of Installments</label>
        <input type="text" class="form-control" name="noOfInstallment" #noOfInstallment="ngModel"
          [(ngModel)]="payload.noOfInstallment" [disabled]="!isUpdate">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="marginLeft">Installment Amount</label>
        <input type="text" class="form-control" name="installmentAmount" #installmentAmount="ngModel"
          [(ngModel)]="payload.installmentAmount" [disabled]="!isUpdate">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label class="marginLeft">Installment Gap</label>
        <input type="text" class="form-control" name="installmentGap" #installmentGap="ngModel"
          [(ngModel)]="payload.installmentGap" [disabled]="!isUpdate">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="marginLeft">Installment Start From</label>
        <input type="text" name="installmentStartDate" #installmentStartDate="ngModel"
          [(ngModel)]="payload.installmentStartDate" class="form-control" [disabled]="!isUpdate">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label class="marginLeft">Additional Notes</label>
        <textarea name="additionalNotes" class="form-control" name="additionalNotes" #additionalNotes="ngModel"
          [(ngModel)]="payload.additionalNotes" [disabled]="!isUpdate"></textarea>
      </div>
    </div>
  </div>


  <!-- attachment section -->
  <div class="row container" *ngFor="let fileName of payload?.attachment;let i = index;">
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12" style="font-weight:bold">Attachment {{i+1}}:</div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <a href="http://localhost:3000/attachment/downloadFile/{{fileName}}" target="_blank">
            <img style="width:100%px;height:250px;" src="http://localhost:3000/attachment/downloadFile/{{fileName}}" />
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- attachment section -->


  <!-- installment section -->
  <div class="row" *ngFor="let installment of payload?.installments;let counter=index;">
    <div class="col-md-12" *ngIf="installment?.status == 'Paid'">
      <hr />
      <div class="row">
        <form class="col-md-12" name="form" #f="ngForm">
          <div class="row">
            <div class="col">
              <h4 class="marginLeft" style="font-weight:bold">Installment Number :- {{ counter+1 }}</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="marginLeft">Received By</label>
                <input type="text" class="form-control" name="receivedByName" [disabled]="!isUpdate"
                  [value]="installment?.receivedByName" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="marginLeft">Paid By</label>
                <input type="text" class="form-control" name="paidBy" [disabled]="!isUpdate" [value]="installment?.paidBy" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="marginLeft">Contact</label>
                <input type="text" class="form-control" name="receivedByNumber" [disabled]="!isUpdate"
                  [value]="installment?.receivedByNumber" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="marginLeft">Date</label>
                <input type="text" class="form-control" name="receiveDate" [disabled]="!isUpdate"
                  [value]="installment?.receiveDate" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="marginLeft">Receipt Number</label>
                <input type="text" class="form-control" name="receiptNumber" [disabled]="!isUpdate"
                  [value]="installment?.receiptNumber" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="marginLeft">Amount</label>
                <input type="text" class="form-control" name="installmentAmount" [disabled]="!isUpdate"
                  [value]="installment?.installmentAmount" />
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="row" *ngIf="installment?.attachment?.length > 0">
        <div class="col-md-12">
          <!-- installment attachment section -->
          <div class="row container" *ngFor="let fileName of installment?.attachment;let i = index;">
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-12" style="font-weight:bold">Attachment {{i+1}}:</div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <a href="http://localhost:3000/attachment/downloadFile/{{fileName}}" target="_blank">
                    <img style="width:100%px;height:250px;"
                      src="http://localhost:3000/attachment/downloadFile/{{fileName}}" />
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- installment attachment section -->
        </div>
      </div>
      <hr class="row col-md-12" />
    </div>
  </div>
  <!-- installment section ends -->


  <!-- paid installment section -->
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped table-condensed">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Amount</th>
            <th scope="col">Due Date</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let installment of payload?.installments;let counter=index;">
            <tr *ngIf="installment?.status == 'Due'">
              <td>
                {{installment?.srNo}}
              </td>
              <td>
                {{installment?.installmentAmount}}
              </td>
              <td>
                {{installment?.dueDate}}
              </td>
              <td>
                {{installment?.status}}
              </td>
            </tr>
          </ng-container>

        </tbody>
      </table>
    </div>
  </div>
  <!-- paid installment section ends -->

  <div class="row">
    <div class="col-md-12">
      <button type="button" (click)="relatedModal.close()" class="btn btn-info btn-fill pull-right"
        style="margin-right: 10px;margin-left: 10px;">Close<span *ngIf="isLoading" class="btn-spinnerr"></span></button>
    </div>
  </div>
</div>
