<div class="modal-header">
  <h5 class="modal-title" style="width: 70%; float: left;">Installments</h5>
  <button type="button" class="close" aria-label="Close" (click)="relatedModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" *ngIf="!isplotSide">
  <div *ngIf="!isAdded">
    <!-- <div *ngIf="isLoaded" class="loader"><img style="width: 175px;height: 175px;" src="assets/img/loading-bubbles.svg"></div>  -->
    <div class="content table-responsive table-full-width">
      <table class="table table-hover table-striped">
        <thead *ngIf="installment?.length === 0">No Record Found</thead>
        <thead *ngIf="installment?.length > 0">
          <tr>
            <th>SrNo.</th>
            <th>Amount</th>
            <th>Submission Date</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody *ngIf="installment?.length > 0">
          <tr *ngFor="let item of installment">
            <td>{{item?.srNo}}</td>
            <td>{{item?.installmentAmount}}</td>
            <td>{{item?.dueDate | date:'mediumDate'}}</td>
            <td>{{item?.status}}</td>
            <td *ngIf="item?.status === 'Paid'" class="text-success">Paid</td>
            <td *ngIf="item?.status !== 'Paid'">
              <button type="button" class="btn btn-info btn-sm btnSlaeBtn" (click)="onSubmitPlotInstallment(item)"
                [disabled]="isDueDatePassed(item)">Due</button>
            </td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>
  <div *ngIf="isAdded">
    <form name="form" (ngSubmit)="f.form.valid && onSubmitLand()" #f="ngForm">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="marginLeft">Received By</label>
            <input type="text" class="form-control" placeholder="Payment submitted to whom..." name="receivedByName"
              #receivedByName="ngModel" [(ngModel)]="landPayload.receivedByName"
              [ngClass]="{ 'is-invalid': f.submitted && receivedByName.invalid }" required>
            <div *ngIf="f.submitted && receivedByName.invalid" class="invalid-feedback">
              <div *ngIf="receivedByName.errors.required">ReceivedByName is required</div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="marginLeft">Paid By</label>
            <input type="text" class="form-control" placeholder="Paid by whom..." name="paidBy" #paidBy="ngModel"
              [(ngModel)]="landPayload.paidBy" [ngClass]="{ 'is-invalid': f.submitted && paidBy.invalid }" required>
            <div *ngIf="f.submitted && paidBy.invalid" class="invalid-feedback">
              <div *ngIf="paidBy.errors.required">Required field</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="marginLeft">Contact</label>
            <input type="text" class="form-control" placeholder="Contact..." name="receivedByNumber"
              #receivedByNumber="ngModel" [(ngModel)]="landPayload.receivedByNumber"
              [ngClass]="{ 'is-invalid': f.submitted && receivedByNumber.invalid }" required>
            <div *ngIf="f.submitted && receivedByNumber.invalid" class="invalid-feedback">
              <div *ngIf="receivedByNumber.errors.required">contact is required</div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="marginLeft">Date</label>
            <input type="text" class="form-control" placeholder="Date..." name="receiveDate" #receiveDate="ngModel"
              [(ngModel)]="payload.receiveDate" bsDatepicker [bsConfig]="bsConfig"
              [ngClass]="{ 'is-invalid': f.submitted && receiveDate.invalid }" required>
            <div *ngIf="f.submitted && receiveDate.invalid" class="invalid-feedback">
              <div *ngIf="receiveDate.errors.required">Date is required</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="marginLeft">Receipt Number</label>
            <input type="text" class="form-control" placeholder="Receipt Number..." name="receiptNumber"
              #receiptNumber="ngModel" [(ngModel)]="landPayload.receiptNumber">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="marginLeft">Land Id</label>
            <input type="text" class="form-control" placeholder="Land Id" name="landId" #plotId="ngModel"
              [(ngModel)]="landPayload.landId"
              disabled>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div ng2FileDrop
                 [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                 (fileOver)="fileOverBase($event)"
                 [uploader]="uploader"
                 class="well my-drop-zone">
                Base drop zone
            </div>
          <input type="file" ng2FileSelect [uploader]="uploader" multiple  /><br/>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <table class="table">
            <thead>
            <tr>
                <th width="50%">Name</th>
                <th>Size</th>
                <th>Progress</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of uploader.queue;let i=index;">
                <td><strong>{{ item?.file?.name }}</strong></td>
                <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                <td *ngIf="uploader.options.isHTML5">
                    <div class="progress" style="margin-bottom: 0;">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                    </div>
                </td>
                <td class="text-center">
                    <span *ngIf="item.isSuccess"><i class="fa fa-check"></i></span>
                    <span *ngIf="item.isCancel"><i class="fa fa-ban"></i></span>
                    <span *ngIf="item.isError"><i class="fa fa-times"></i></span>
                </td>
                <td nowrap>
                    <button type="button" class="btn btn-success btn-xs"
                            (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                        <span class="fa fa-check"></span> Upload
                    </button>
                    <button type="button" class="btn btn-warning btn-xs"
                            (click)="item.cancel()" [disabled]="!item.isUploading">
                        <span class="fa fa-ban"></span> Cancel
                    </button>
                    <button type="button" class="btn btn-danger btn-xs"
                            (click)="item.remove()">
                        <span class="fa fa-times"></span> Remove
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        </div>
      </div>

      <div class="row" style="margin-bottom:10px">
        <div class="col-md-12">
          <div>
            <div>
                Queue progress:
                <div class="progress" style="">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                </div>
            </div>
            <button type="button" class="btn btn-success btn-s"
                    (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                <span class="fa fa-check"></span> Upload all
            </button>
            <button type="button" class="btn btn-warning btn-s"
                    (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                <span class="fa fa-ban"></span> Cancel all
            </button>
            <button type="button" class="btn btn-danger btn-s"
                    (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                <span class="fa fa-times"></span> Remove all
            </button>
        </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-6">
          <button type="button" class="btn btn-danager btn-fill" (click)="isAdded = false">Back</button>
        </div>
        <div class="col-md-6">
          <button type="submit" class="btn btn-info btn-fill pull-right" [disabled]="isLoading">Save<span
              *ngIf="isLoading" class="btn-spinnerr"></span></button>
        </div>
      </div>
    </form>
  </div>
</div>
<div *ngIf="isplotSide" class="modal-body">

  <div *ngIf="!isAdded">
    <!-- <div *ngIf="isLoaded" class="loader"><img style="width: 175px;height: 175px;" src="assets/img/loading-bubbles.svg"></div>  -->
    <div class="content table-responsive table-full-width">
      <table class="table table-hover table-striped">
        <thead *ngIf="installment?.length === 0">No Record Found</thead>
        <thead *ngIf="installment?.length > 0">
          <tr>
            <th>Amount</th>
            <th>Submission Date</th>
            <th>Status</th>
            <th>Submitted On</th>
            <th>Submitted By</th>
            <th>Submitted To</th>
            <th>Contact</th>
          </tr>
        </thead>
        <tbody *ngIf="installment?.length > 0">
          <tr *ngFor="let item of installment">
            <td>{{item?.installmentAmount}}</td>
            <td>{{item?.submissionDate|date:'mediumDate'}}</td>
            <td>{{item?.status}}</td>
            <td>{{item?.submittedOn|date:'mediumDate'}}</td>
            <td>{{item?.submittedBy}}</td>
            <td>{{item?.submittedTo}}</td>
            <td>{{item?.contact}}</td>
            <td *ngIf="item?.status === 'done'" class="text-success">Submited</td>
            <td *ngIf="item?.status !== 'done'">

              <button type="button" class="btn btn-info btn-sm btnSlaeBtn" (click)="onSubmitPlotInstallment(item)"
                title="Sale Plot">Submit</button>
            </td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>
  <div *ngIf="isAdded">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="marginLeft">Submitted By</label>
            <input type="text" class="form-control" placeholder="Submitted By" name="measuringunit"
              #measuringunit="ngModel" [(ngModel)]="payload.submittedBy"
              [ngClass]="{ 'is-invalid': f.submitted && measuringunit.invalid }" required>
            <div *ngIf="f.submitted && measuringunit.invalid" class="invalid-feedback">
              <div *ngIf="measuringunit.errors.required">Measuring Unit is required</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="marginLeft">Submitted To</label>
              <input type="text" class="form-control" placeholder="Submitted To" name="submittedTo"
                #submittedTo="ngModel" [(ngModel)]="payload.submittedTo"
                [ngClass]="{ 'is-invalid': f.submitted && submittedTo.invalid }" required>
              <div *ngIf="f.submitted && submittedTo.invalid" class="invalid-feedback">
                <div *ngIf="submittedTo.errors.required">Submitted To is required</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="marginLeft">Contact</label>
            <input type="text" class="form-control" placeholder="Contact" name="contact" #contact="ngModel"
              [(ngModel)]="payload.contact" [ngClass]="{ 'is-invalid': f.submitted && contact.invalid }" required>
            <div *ngIf="f.submitted && contact.invalid" class="invalid-feedback">
              <div *ngIf="contact.errors.required">contact is required</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="marginLeft">Plot Id</label>
              <input type="text" class="form-control" placeholder="Plot Id" name="plotId" #plotId="ngModel"
                [(ngModel)]="payload.plotId" [ngClass]="{ 'is-invalid': f.submitted && submittedTo.invalid }" disabled>
              <!-- <div *ngIf="f.submitted && submittedTo.invalid" class="invalid-feedback">
                <div *ngIf="submittedTo.errors.required">Submitted To is required</div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <button type="button" class="btn btn-danager btn-fill" (click)="isAdded = false">Back</button>
        </div>
        <div class="col-md-6">
          <button type="submit" class="btn btn-info btn-fill pull-right" [disabled]="isLoading">Save<span
              *ngIf="isLoading" class="btn-spinnerr"></span></button>
        </div>
      </div>
    </form>
  </div>
</div>
