<div class="breadcrumb-banner-area ptb-40 bg-opacity" style="background-image:url(assets/img/bg/71.jpg)">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb-text text-center">
          <h2>Rehman City</h2>
          <p>Project By Razaqia Sharifia Builders (pvt. ltd.) </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- breadcrumb-banner-area-end -->
<!-- contact-3-area-start -->
<div class="contact-3-area contact-2 contact-3 pt-50 pb-50">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-push-3">
        <div class="contact-wrapper-3 mb-30">
          <div class="contact-3-text">
            <h3 style="width: 100%;float: left;">Login to your account</h3>
          </div>
          <div style="float: left;width:100%;" *ngIf="errorMessage" class="alert error-alert alert-danger"> <strong>{{errorMessage}}</strong>  </div>
          <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" id="contact-form">
              <input name="name" #name="ngModel" [(ngModel)]="payLoad.email" type="text" placeholder="Email" required email
                 [ngClass]="{ 'is-invalid': f.submitted && name.invalid }">
              <div *ngIf="f.submitted && name.invalid" class="alert error-alert alert-danger">
                <div *ngIf="name.errors.required">Email is required</div>
                <div *ngIf="name.errors.email">Email is invalid</div>
              </div>
              <input name="pass" #pass="ngModel" [(ngModel)]="payLoad.password" required type="password" placeholder="Password"
              [ngClass]="{ 'is-invalid': f.submitted && pass.invalid }">
              <div *ngIf="f.submitted && pass.invalid" class="alert error-alert alert-danger">
                <div *ngIf="pass.errors.required">Password is required</div>
              </div>
            <button type="submit" class="m-0">Login <span *ngIf="isLoading" class="btn-spinner"></span></button>
          </form>
        </div>
      </div>
      
    </div>
  </div>
</div>
<!-- contact-3-area-end -->