<div class="content">
  <div class="container-fluid">


    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 style="width: 400px;float: left;" class="title">Lands</h4>
            <div style="float: right;">
              <button type="button" (click)="openModelMeasurement()" style="margin-right: 5px;"
                class="btn btn-info btn-fill">Add Land Measurement</button>
              <button type="button" (click)="openModel()" class="btn btn-info btn-fill">Add Land</button>
              <!-- <input class="form-control" style="width: 200px;float:right;" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search"> -->
            </div>


          </div>
          <hr>
          <div *ngIf="isLoaded" class="loader"><img style="width: 175px;height: 175px;"
              src="assets/img/loading-bubbles.svg"></div>
          <div *ngIf="!isLoaded" class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead *ngIf="landList?.length === 0">No Record Found</thead>
              <thead *ngIf="landList?.length > 0">
                <tr>
                  <th>Name</th>
                  <th>Total Land</th>
                  <th>Acquired Date</th>
                  <th>Land Lord</th>
                  <th>Status</th>
                  <th>Total</th>
                  <th>Down Payment</th>
                  <th>Installments</th>
                </tr>
              </thead>
              <tbody *ngIf="landList?.length > 0">
                <tr *ngFor="let item of landList| paginate: { itemsPerPage: 10, currentPage: p }">
                  <td>{{item?.description}}</td>
                  <td>{{item?.totalLand}} {{item?.measuringUni}}</td>
                  <td>{{item?.acquired_date |date:'mediumDate'}}</td>
                  <td>{{item?.landlordData?.name}} - {{item?.landlordData?.phone}}</td>
                  <td>{{item?.landPaymentStatus}}</td>
                  <td>{{item?.totalPayment}}</td>
                  <td>{{item?.downPayment}}</td>
                  <td>{{item?.noOfInstallment}}</td>
                <td>
                  <button type="button" *ngIf="!item?.installments?.length" [disabled]="!item?.installments?.length" class="btn btn-primary btn-sm btnColor" title="No Installments Found">Installments</button>
                  <button type="button" *ngIf="item?.installments?.length > 0" (click)="openInstallment(item)" class="btn btn-primary btn-sm btnColor" title="Installments">Installments</button>
                </td>
                </tr>
              </tbody>

            </table>
            <pagination-controls *ngIf="landList?.length > 0" (pageChange)="p = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>