<div class="modal-header">
  <h5 class="modal-title" style="width: 70%; float: left;">Add Park</h5>
  <button type="button" class="close" aria-label="Close" (click)="relatedModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="marginLeft">Park Name</label>
          <input type="text" class="form-control" placeholder="Park name..." name="name" #name="ngModel"
            [(ngModel)]="payload.name" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required>
          <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
            <div *ngIf="name.errors.required">Park name is required</div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="marginLeft">Covered Area</label>
          <input type="text" class="form-control" placeholder="Area..." name="area_covered" pattern="[0-9]*"
            #area_covered="ngModel" [(ngModel)]="payload.area_covered" [ngClass]="{ 'is-invalid': f.submitted && area_covered.invalid }"
            required>
          <div *ngIf="f.submitted && area_covered.invalid" class="invalid-feedback">
            <div *ngIf="area_covered.errors.required">Area is required</div>
            <div *ngIf="area_covered.errors.pattern">Area is Only Number</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="marginLeft">Plot Size In kanal</label>
          <input type="text" class="form-control" placeholder="Plot Size" name="sizeKanal" pattern="[0-9]*" #sizeKanal="ngModel"
            [(ngModel)]="payload.kanal" [ngClass]="{ 'is-invalid': f.submitted && sizeKanal.invalid }">
          <div *ngIf="f.submitted && sizeKanal.invalid" class="invalid-feedback">
            <div *ngIf="sizeKanal.errors.required">size is required</div>
            <div *ngIf="sizeKanal.errors.pattern">size is Only Number</div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="marginLeft">Plot Size In marla</label>
          <input type="text" class="form-control" placeholder="Plot Size" name="sizemarla" pattern="[0-9]*" #sizemarla="ngModel"
            [(ngModel)]="payload.marla" [ngClass]="{ 'is-invalid': f.submitted && sizemarla.invalid }">
          <div *ngIf="f.submitted && sizemarla.invalid" class="invalid-feedback">
            <div *ngIf="sizemarla.errors.required">size is required</div>
            <div *ngIf="sizemarla.errors.pattern">size is Only Number</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="marginLeft">Plot Size In Sarsai</label>
          <input type="text" class="form-control" placeholder="Plot Size" name="sizeSarsai" pattern="[0-9]*" #sizeSarsai="ngModel"
            [(ngModel)]="payload.sarsai" [ngClass]="{ 'is-invalid': f.submitted && sizeSarsai.invalid }">
          <div *ngIf="f.submitted && sizeSarsai.invalid" class="invalid-feedback">
            <div *ngIf="sizeSarsai.errors.required">size is required</div>
            <div *ngIf="sizeSarsai.errors.pattern">size is Only Number</div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="marginLeft">Plot Size In Feet</label>
          <input type="text" class="form-control" placeholder="Plot Size" name="sizeFeet" pattern="[0-9]*" #sizeFeet="ngModel"
            [(ngModel)]="payload.feet" [ngClass]="{ 'is-invalid': f.submitted && sizeFeet.invalid }">
          <div *ngIf="f.submitted && sizeFeet.invalid" class="invalid-feedback">
            <div *ngIf="sizeFeet.errors.required">size is required</div>
            <div *ngIf="sizeFeet.errors.pattern">size is Only Number</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="marginLeft">Town</label>
          <select class="form-control select-box-height" (ngModelChange)="townSelectionUpdated($event)"
            name="SubCategoryId" #SubCategoryId="ngModel" [(ngModel)]="payload.townId"
            [ngClass]="{ 'is-invalid': f.submitted && SubCategoryId.invalid }" required>
            <!-- <option [value]='null' disabled>Select Town</option> -->
            <option *ngFor="let item of townList" [value]="item?.id" [disabled]="this.townid != item.id" [selected]="this.townid == item.id"> {{item?.name}}</option>
          </select>
          <div *ngIf="f.submitted && SubCategoryId.invalid" class="invalid-feedback">
            <div *ngIf="SubCategoryId.errors.required">Town is required</div>
            <!-- <div *ngIf="Address.errors.pattern">CNIC is Only Number</div> -->
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="marginLeft">Town Phase</label>
          <select class="form-control select-box-height" name="townPhase" #townPhase="ngModel"
            [(ngModel)]="payload.townPhase" [ngClass]="{ 'is-invalid': f.submitted && townPhase.invalid }" required>
            <!-- <option [value]='null' disabled selected>Select town Phase</option> -->
            <option *ngFor="let item of selectTown?.phases" [value]="item" [disabled]="this.phase != item" [selected]="this.phase == item"> {{item}}</option>
          </select>
          <div *ngIf="f.submitted && townPhase.invalid" class="invalid-feedback">
            <div *ngIf="townPhase.errors.required">Town phase is required</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label class="marginLeft">Additional Notes</label>
          <textarea name="additionalNotes" class="form-control" placeholder="Additional Notes About Land..."
            name="additionalNotes" #additionalNotes="ngModel" [(ngModel)]="payload.additionalNotes"
            [ngClass]="{ 'is-invalid': f.submitted && additionalNotes.invalid }"></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button type="submit" class="btn btn-info btn-fill pull-right" [disabled]="isLoading">Save<span *ngIf="isLoading" class="btn-spinnerr"></span></button>
      </div>
    </div>
  </form>
</div>
<!-- </div> -->
