
  <div class="modal-header">
    <h5 class="modal-title" style="width: 70%; float: left;">Add Town</h5>
    <button type="button" class="close" aria-label="Close" (click)="relatedModal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
      <div class="row">
          <div class="col-md-12">
              <div class="form-group">
                  <label class="marginLeft">Payment Plan Name</label>
                  <input type="text" class="form-control" placeholder="Payment Plan Name" name="name"
                      #name="ngModel" [(ngModel)]="payload.payment_plan_name" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required>
                      <div *ngIf="f.submitted && name.invalid" class="invalid-feedback" >
                        <div *ngIf="name.errors.required">Name is required</div>
                    </div>
              </div>
          </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
            <label class="marginLeft">Total Payment</label>
            <input type="text" class="form-control" placeholder="Total Payment" name="total"
                #total="ngModel" [(ngModel)]="payload.totalAmount" [ngClass]="{ 'is-invalid': f.submitted && total.invalid }" required>
                <div *ngIf="f.submitted && total.invalid" class="invalid-feedback" >
                  <div *ngIf="total.errors.required">Total Payment is required</div>
              </div>
        </div>
    </div>
      <div class="col-md-6">
        <div class="form-group">
            <label class="marginLeft">Installment Gap</label>
            <input type="text" class="form-control" placeholder="Installment Gap In Months" name="installmentGap"
                #installmentGap="ngModel" [(ngModel)]="payload.installmentGap" [ngClass]="{ 'is-invalid': f.submitted && installmentGap.invalid }" required>
                <div *ngIf="f.submitted && installmentGap.invalid" class="invalid-feedback" >
                  <div *ngIf="installmentGap.errors.required">Installment Gap is required</div>
              </div>
        </div>
    </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
        <label class="marginLeft">Down Payment</label>
        <input type="text" class="form-control" placeholder="Down Payment" name="ownedBy"
            #ownedBy="ngModel" [(ngModel)]="payload.downPayment" [ngClass]="{ 'is-invalid': f.submitted && ownedBy.invalid }" required >
            <div *ngIf="f.submitted && name.invalid" class="invalid-feedback" >
              <div *ngIf="ownedBy.errors.required">Down Payment By is required</div>
          </div>
    </div>
</div>
  <div class="col-md-6">
      <div class="form-group">
          <label class="marginLeft">Installment Amount</label>
          <input type="text" class="form-control" placeholder="Installment Amount" name="installmentAmount"
              #installmentAmount="ngModel" [(ngModel)]="payload.installmentAmount" [ngClass]="{ 'is-invalid': f.submitted && installmentAmount.invalid }" required>
              <div *ngIf="f.submitted && installmentAmount.invalid" class="invalid-feedback" >
                <div *ngIf="installmentAmount.errors.required">Installment Amount is required</div>
            </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
      <div class="form-group">
          <label class="marginLeft">Description</label>
          <textarea type="text" style="height: 80px !important;" class="form-control" placeholder="Description" name="description"
              #description="ngModel" [(ngModel)]="payload.description" [ngClass]="{ 'is-invalid': f.submitted && description.invalid }" required ></textarea>
              <div *ngIf="f.submitted && name.invalid" class="invalid-feedback" [ngClass]="{ 'is-invalid': f.submitted && description.invalid }" required >
                <div *ngIf="description.errors.required">Description is required</div>
            </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <button type="submit" class="btn btn-info btn-fill pull-right" [disabled] ="isLoading">Save <span *ngIf="isLoading"
      class="btn-spinnerr"></span></button>
  </div>
</div>
    </form>
    </div>
    <!-- </div> -->