<div class="sidebar" data-color="purple" style="background-image: url(assets/img/sidebar-5.jpg);">
  <div class="sidebar-wrapper">
         <div class="logo">
             <a router-link="/Town" class="simple-text">
                Housing Society
             </a>
         </div>
 
         <ul class="nav">
             <li routerLinkActive='active'>
                 <a [routerLink]="['/admin/manager']" >
                     <!-- <i class="pe-7s-graph"></i> -->
                     <i class="fa fa-user-circle-o"></i>
                     <p>View Manager</p>
                 </a>
             </li>
             <li routerLinkActive='active'>
                <a [routerLink]="['/admin/Town']" >
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <p>Town Detail</p>
                </a>
            </li>
            <li routerLinkActive='active'>
                <a [routerLink]="['/admin/landlord']" >
                    <!-- <i class="fa fa-home" aria-hidden="true"></i> -->
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <p>Land-Lord</p>
                </a>
            </li>
             <li routerLinkActive='active'>
              <a [routerLink]="['/admin/land']" >
                  <!-- <i class="pe-7s-graph"></i> -->
                  <i class="fa fa-map-marker"></i>
                  <p>Land Information</p>
              </a>
          </li>

          <li routerLinkActive='active'>
            <a [routerLink]="['/admin/payment-plan']" >
                <!-- <i class="pe-7s-graph"></i> -->
                <!-- <i class="fa fa-user" aria-hidden="true"></i> -->
                <!-- <i class="fa fa-industry" aria-hidden="true"></i> -->
                <i class="fa fa-tasks" aria-hidden="true"></i>
                <p>Payment Plan</p>
            </a>
        </li>
        <li routerLinkActive='active'>
            <a [routerLink]="['/admin/customers']" >
                <i class="fa fa-user" aria-hidden="true"></i>
                <p>Customer Detail</p>
            </a>
        </li>
        <li routerLinkActive='active'>
            <a [routerLink]="['/admin/authorized-dealer']" >
                <i class="fa fa-industry" aria-hidden="true"></i>
                <p>Authorized Dealer</p>
            </a>
        </li>
        <li routerLinkActive='active'>
            <a [routerLink]="['/admin/plots']" >
                <i class="fa fa-area-chart" aria-hidden="true"></i>
                <p>Plots Details</p>
            </a>
        </li>
        <li (click)="logout()">
            <a>
                <i class="fa fa-area-chart" aria-hidden="true"></i>
                <p>Logout</p>
            </a>
        </li>
         </ul>
   </div>
 </div>