/* You can add global styles to this file, and also import other style files */
@import "./styles.scss"; 
.linkButtonActive{
    color: #77c72f !important
}
.bgWhite{
    background-color: white !important;
}
.curserPointer{
    cursor: pointer;
}
.modal-backdrop.fade
{
  opacity: 0.5;
}
.modal-open .modal
{
  opacity: 1;
}
input {
  text-transform: none;
}
.modal {
    position: fixed;
    top: 50px !important;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.toast {
  opacity: 1 !important;
}
.loader{
  text-align: center;
  margin-top: 25%;
}

.service-text p {
  font-size: 15px;
  color:#555;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 0;
  transition: .3s;
}
.our-services-text > p {
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  color: #555;
  margin-bottom: 0;
}
.tab-menu > li {
  color: #555;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 5px;
  position: relative;
  text-transform: capitalize;
}
.about-text p {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 0;
  color: #555;
  line-height: 24px;
}
.our-services-text > h3 a {
  color:#666;
  font-weight: 500;
}
.about-text h4 {
  color: #555;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 25px;
}
.offer-content p {
  color: #555;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 36px;
}
.project-details-2-content p {
  color: #555;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  margin-bottom: 22px;
}
.modal-content {
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.5);
  box-shadow: 0 3px 9px rgba(0,0,0,0.5);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  outline: 0;
  margin-top: 0px !important;
}
input{
  text-transform: unset !important ;
}
.invalid-feedback{
  color: red !important;
  margin-left: 5px !important;
}
.form-group label {
  margin-left: 5px !important;
  font-weight: bold !important;
}
.modal-title{
  font-weight: bold !important;
  color: #fff !important;
}
.modal-header{
  background-color: #77c72f !important;
  color: #fff !important;
}


.modal-sm {
  min-width: 400px !important;
}
.btn-info{
  color: #fff !important;
    background-color: #46b8da !important;
    border-color: #1bc5bd !important;
    outline: 0 !important;
    vertical-align: middle !important;
    border: 1px solid transparent !important;
    padding: .65rem 1rem!important;
    line-height: 1.5 !important;
    border-radius: .42rem !important;
    display: inline-block !important;
    font-weight: 600!important;
    text-align: center !important;
    text-transform: none !important;
    font-size: 1.5rem !important;
    cursor: pointer !important;
    -webkit-transition: color .15s,background-color .15s,border-color .15s,box-shadow .15s;
    transition: color .15s ease,background-color .15s ease,border-color .15s ease,box-shadow .15s ease;
}

.btn-primary{
  margin-left: 5px;
    color: #00f!important;
    background-color: #e1e9ff!important;
    border-color: #e1e9ff!important;
    outline: 0!important;
    vertical-align: middle !important;
    border: 1px solid transparent !important;
    padding: .45rem 1rem !important;
    line-height: 1.5 !important;
    border-radius: .42rem !important;
    display: inline-block !important;
    font-weight: 100!important;
    text-align: center !important;
    text-transform: none !important;
    font-size: 14px !important;
    cursor: pointer !important;
    -webkit-transition: color .15s,background-color .15s,border-color .15s,box-shadow .15s;
    transition: color .15s ease,background-color .15s ease,border-color .15s ease,box-shadow .15s ease;
    margin-bottom: 6px !important;
}
.table th {
  vertical-align: middle !important;
  border: 1px solid #f7f5f5 !important;
  font-size: 14px !important;
  padding: .75rem !important;
  vertical-align: top !important;
  border-top: none !important;
  border-left: none !important;
}
.table td {
  vertical-align: middle !important;
  border: 1px solid #f7f5f5 !important;
  font-size: 14px !important;
  padding: .75rem !important;
  vertical-align: top !important;
  border-top: none !important;
  border-left: none !important;
}
.table tbody tr {
    background-color: white !important;
}
.table thead {
  background: #f7f5f5 !important;
  color: rgba(0, 0, 0, 0.87) !important;
}

.stock-btn-red{
  margin-left: 5px;
  background-color: #ffebee!important;
  color: #f44336!important;
  outline: 0!important;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: .45rem 1rem;
  line-height: 1.5;
  border-radius: .42rem;
  display: inline-block;
  font-weight: 100!important;
  text-align: center;
  text-transform: none;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: color .15s,background-color .15s,border-color .15s,box-shadow .15s;
  transition: color .15s ease,background-color .15s ease,border-color .15s ease,box-shadow .15s ease;
  margin-bottom: 6px !important;
}
 
.stock-btn-green{
  margin-left: 5px;
  color: #4caf50!important;
  background-color: #e8f5e9!important;
  outline: 0!important;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: .45rem 1rem;
  line-height: 1.5;
  border-radius: .42rem;
  display: inline-block;
  font-weight: 100!important;
  text-align: center;
  text-transform: none;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: color .15s,background-color .15s,border-color .15s,box-shadow .15s;
  transition: color .15s ease,background-color .15s ease,border-color .15s ease,box-shadow .15s ease;
  margin-bottom: 6px !important;
}
.ngx-pagination{
  text-align: center !important;
}