<div class="modal-header">
  <h5 *ngIf="!isUpdate" class="modal-title" style="width: 70%; float: left;">Add Plot</h5>
  <h5 *ngIf="isUpdate" class="modal-title" style="width: 70%; float: left;">Update Plot</h5>
  <button type="button" class="close" aria-label="Close" (click)="relatedModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form name="form" (ngSubmit)="f.form.valid && openModel()" #f="ngForm">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="marginLeft">Plot Number</label>
          <input type="text" class="form-control" placeholder="Plot Number" name="name" #name="ngModel"
            [(ngModel)]="payload.plotNumber" (focusout)="checkPlotNumber(name.value)" [ngClass]="{ 'is-invalid': f.submitted && name.invalid || isPlotNumberExisted }" required>
          <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
            <div *ngIf="name.errors.required">Name is required</div>
          </div>
          <div *ngIf="isPlotNumberExisted" class="invalid-feedback">
            <div>NAme Already Existed</div>
          </div>
        </div>
      </div>
      <div class="col-md-6">

        <div class="form-group">
          <label class="marginLeft">Plot Type</label>
          <select class="form-control select-box-height" name="plotType" #plotType="ngModel"
            [(ngModel)]="payload.plotType" [ngClass]="{ 'is-invalid': f.submitted && land.invalid }" required>
            <option [value]='null' selected disabled>Select Plot Type</option>
            <option [value]="0">Residential</option>
            <option [value]="1">Commercial</option>
          </select>
          <div *ngIf="f.submitted && plotType.invalid" class="invalid-feedback">
            <div *ngIf="plotType.errors.required">Plot Type is required</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label class="marginLeft">Plot Category</label>
          <select class="form-control select-box-height" name="land" #land="ngModel"
            [(ngModel)]="payload.plotcategoriesId" [ngClass]="{ 'is-invalid': f.submitted && land.invalid }" required>
            <option [value]='null' disabled>Select Plot Category</option>
            <option *ngFor="let item of plotcategories" [value]="item?.id"> {{item?.categoryName}}</option>
          </select>
          <div *ngIf="f.submitted && land.invalid" class="invalid-feedback">
            <div *ngIf="land.errors.required">Plot Category is required</div>
            <!-- <div *ngIf="Address.errors.pattern">CNIC is Only Number</div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="marginLeft">Plot Size In Kanal</label>
          <input type="text" class="form-control" placeholder="Plot Size" name="sizeKanal" pattern="[0-9]*" #sizeKanal="ngModel"
            [(ngModel)]="payload.kanal" [ngClass]="{ 'is-invalid': f.submitted && sizeKanal.invalid }">
          <div *ngIf="f.submitted && sizeKanal.invalid" class="invalid-feedback">
            <div *ngIf="sizeKanal.errors.required">size is required</div>
            <div *ngIf="sizeKanal.errors.pattern">size is Only Number</div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="marginLeft">Plot Size In Marla</label>
          <input type="text" class="form-control" placeholder="Plot Size" name="sizemarla" pattern="[0-9]*" #sizemarla="ngModel"
            [(ngModel)]="payload.marla" [ngClass]="{ 'is-invalid': f.submitted && sizemarla.invalid }">
          <div *ngIf="f.submitted && sizemarla.invalid" class="invalid-feedback">
            <div *ngIf="sizemarla.errors.required">size is required</div>
            <div *ngIf="sizemarla.errors.pattern">size is Only Number</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="marginLeft">Plot Size In Sarsai</label>
          <input type="text" class="form-control" placeholder="Plot Size" name="sizeSarsai" pattern="[0-9]*" #sizeSarsai="ngModel"
            [(ngModel)]="payload.sarsai" [ngClass]="{ 'is-invalid': f.submitted && sizeSarsai.invalid }">
          <div *ngIf="f.submitted && sizeSarsai.invalid" class="invalid-feedback">
            <div *ngIf="sizeSarsai.errors.required">size is required</div>
            <div *ngIf="sizeSarsai.errors.pattern">size is Only Number</div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="marginLeft">Plot Size In Feet</label>
          <input type="text" class="form-control" placeholder="Plot Size" name="sizeFeet" pattern="[0-9]*" #sizeFeet="ngModel"
            [(ngModel)]="payload.feet" [ngClass]="{ 'is-invalid': f.submitted && sizeFeet.invalid }">
          <div *ngIf="f.submitted && sizeFeet.invalid" class="invalid-feedback">
            <div *ngIf="sizeFeet.errors.required">size is required</div>
            <div *ngIf="sizeFeet.errors.pattern">size is Only Number</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="marginLeft">Town</label>
          <select class="form-control select-box-height"  name="SubCategoryId"
            #SubCategoryId="ngModel" [(ngModel)]="payload.townId" (ngModelChange)="getStreet(SubCategoryId.value)"
            [ngClass]="{ 'is-invalid': f.submitted && SubCategoryId.invalid }" required>
            <option [value]='null' disabled>Select Town</option>
            <option *ngFor="let item of townList" [value]="item?.id"> {{item?.name}}</option>
          </select>
          <div *ngIf="f.submitted && SubCategoryId.invalid" class="invalid-feedback">
            <div *ngIf="SubCategoryId.errors.required">Town is required</div>
            <!-- <div *ngIf="Address.errors.pattern">CNIC is Only Number</div> -->
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="marginLeft">Town Phase</label>
          <select class="form-control select-box-height" name="townPhase" #townPhase="ngModel"
            [(ngModel)]="payload.townPhase" [ngClass]="{ 'is-invalid': f.submitted && townPhase.invalid }" required>
            <option [value]='null' disabled selected>Select town Phase</option>
            <option *ngFor="let item of selectTown?.phases" [value]="item"> {{item}}</option>
          </select>
          <div *ngIf="f.submitted && townPhase.invalid" class="invalid-feedback">
            <div *ngIf="townPhase.errors.required">Town phase is required</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="marginLeft">Street Number</label>
          <select class="form-control select-box-height" name="street" #street="ngModel"
          [(ngModel)]="payload.streetId" [ngClass]="{ 'is-invalid': f.submitted && street.invalid }"required>
          <option [value]='null' disabled selected>Select Street number</option>
          <option *ngFor="let item of streetList" [value]="item.id"> {{item.name}}</option>
        </select>
          <!-- <input type="text" class="form-control" placeholder="Street number" name="street" #street="ngModel"
            [(ngModel)]="payload.street" [ngClass]="{ 'is-invalid': f.submitted && street.invalid }" required> -->
          <div *ngIf="f.submitted && street.invalid" class="invalid-feedback">
            <div *ngIf="street.errors.required">Street is required</div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="marginLeft">Reference Number</label>
          <input type="text" class="form-control" placeholder="Plot reference number" name="reference" #reference="ngModel"
            [(ngModel)]="payload.reference" [ngClass]="{ 'is-invalid': f.submitted && reference.invalid }" required>
          <div *ngIf="f.submitted && reference.invalid" class="invalid-feedback">
            <div *ngIf="reference.errors.required">Reference is required</div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-12">
        <button type="submit" class="btn btn-info btn-fill pull-right" [disabled]="isLoading">Save<span
            *ngIf="isLoading" class="btn-spinnerr"></span></button>
      </div>
    </div> -->

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="marginLeft">Total Payment</label>
          <input type="text" class="form-control" placeholder="Total payment in rupees..." name="totalPayment"
            pattern="[0-9]*" #totalPayment="ngModel" [(ngModel)]="payload.totalPayment"
            [ngClass]="{ 'is-invalid': f.submitted && totalPayment.invalid }" required>
          <div *ngIf="f.submitted && totalPayment.invalid" class="invalid-feedback">
            <div *ngIf="totalPayment.errors.required">Total Payment is required</div>
            <div *ngIf="totalPayment.errors.pattern">Total Payment is Only Number</div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="marginLeft">Down Payment</label>
          <input type="text" class="form-control" [disabled]="isUpdate" placeholder="Down payment in rupees..." name="downPayment"
            pattern="[0-9]*" #downPayment="ngModel" [(ngModel)]="payload.downPayment"
            [ngClass]="{ 'is-invalid': f.submitted && downPayment.invalid }" required>
          <div *ngIf="f.submitted && downPayment.invalid" class="invalid-feedback">
            <div *ngIf="downPayment.errors.required">Down Payment is required</div>
            <div *ngIf="downPayment.errors.pattern">Down Payment is Only Number</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="marginLeft">No. of Installments</label>
          <input type="text" class="form-control" placeholder="No. of Installment..." name="noOfInstallment"
            pattern="[0-9]*" #noOfInstallment="ngModel" [(ngModel)]="payload.noOfInstallment"
            [ngClass]="{ 'is-invalid': f.submitted && noOfInstallment.invalid }" required>
          <div *ngIf="f.submitted && noOfInstallment.invalid" class="invalid-feedback">
            <div *ngIf="noOfInstallment.errors.required">No Of Installment is required</div>
            <div *ngIf="noOfInstallment.errors.pattern">No Of Installment is Only Number</div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="marginLeft">Installment Amount</label>
          <input type="text" class="form-control" placeholder="Installment Amount" name="installmentAmount"
            pattern="[0-9]*" #installmentAmount="ngModel" [(ngModel)]="payload.installmentAmount"
            [ngClass]="{ 'is-invalid': f.submitted && installmentAmount.invalid }" required>
          <div *ngIf="f.submitted && installmentAmount.invalid" class="invalid-feedback">
            <div *ngIf="installmentAmount.errors.required">Installment Amount is required</div>
            <div *ngIf="installmentAmount.errors.pattern">Installment Amount is Only Number</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="marginLeft">Installment Gap</label>
          <input type="text" class="form-control" placeholder="Installment Gap" name="installmentGap" pattern="[0-9]*"
            #installmentGap="ngModel" [(ngModel)]="payload.installmentGap"
            [ngClass]="{ 'is-invalid': f.submitted && installmentGap.invalid }" required>
          <div *ngIf="f.submitted && installmentGap.invalid" class="invalid-feedback">
            <div *ngIf="installmentGap.errors.required">Installment Gap is required</div>
            <div *ngIf="installmentGap.errors.pattern">Installment Gap is Only Number</div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="marginLeft">Installment Start From</label>
          <input type="text" name="installmentStartDate" placeholder="Installments Start From"
            #installmentStartDate="ngModel" [(ngModel)]="payload.installmentStartDate" class="form-control"
            [ngClass]="{ 'is-invalid': f.submitted && installmentStartDate.invalid }" required bsDatepicker>
          <div *ngIf="f.submitted && installmentStartDate.invalid" class="invalid-feedback">
            <div *ngIf="installmentStartDate.errors.required">Installment start date is required</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label class="marginLeft">Additional Notes</label>
          <textarea name="additionalNotes" class="form-control" placeholder="Additional Notes About Land..."
            name="additionalNotes" #additionalNotes="ngModel" [(ngModel)]="payload.additionalNotes"
            [ngClass]="{ 'is-invalid': f.submitted && additionalNotes.invalid }"></textarea>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)"
          [uploader]="uploader" class="well my-drop-zone">
          Base drop zone
        </div>
        <input type="file" ng2FileSelect [uploader]="uploader" multiple /><br />
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <thead>
            <tr>
              <th width="50%">Name</th>
              <th>Size</th>
              <th>Progress</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody *ngIf="!isUpdate">
            <tr *ngFor="let item of uploader.queue;let i=index;">
              <td><strong>{{ item?.file?.name }}</strong></td>
              <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
              <td *ngIf="uploader.options.isHTML5">
                <div class="progress" style="margin-bottom: 0;">
                  <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                </div>
              </td>
              <td class="text-center">
                <span *ngIf="item.isSuccess"><i class="fa fa-check"></i></span>
                <span *ngIf="item.isCancel"><i class="fa fa-ban"></i></span>
                <span *ngIf="item.isError"><i class="fa fa-times"></i></span>
              </td>
              <td nowrap>
                <button type="button" class="btn btn-success btn-xs" (click)="item.upload()"
                  [disabled]="item.isReady || item.isUploading || item.isSuccess">
                  <span class="fa fa-check"></span> Upload
                </button>
                <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel()"
                  [disabled]="!item.isUploading">
                  <span class="fa fa-ban"></span> Cancel
                </button>
                <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                  <span class="fa fa-times"></span> Remove
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row" style="margin-bottom:10px">
      <div class="col-md-12">
        <div>
          <div>
            Queue progress:
            <div class="progress">
              <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
            </div>
          </div>
          <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()"
            [disabled]="!uploader.getNotUploadedItems().length">
            <span class="fa fa-check"></span> Upload all
          </button>
          <button type="button" class="btn btn-warning btn-s" (click)="uploader.cancelAll()"
            [disabled]="!uploader.isUploading">
            <span class="fa fa-ban"></span> Cancel all
          </button>
          <button type="button" class="btn btn-danger btn-s" (click)="uploader.clearQueue()"
            [disabled]="!uploader.queue.length">
            <span class="fa fa-times"></span> Remove all
          </button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label class="marginLeft">Installments</label>
          <div class="row">
            <div class="col-md-12">
              <table class="table table-striped table-condensed">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Due Date</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>

                <tbody *ngIf="!isUpdate">
                  <!-- (keyup)="changeValue(id, 'name', $event)" (blur)="updateList(id, 'name', $event)" contenteditable="true" -->
                  <tr *ngFor="let installment of payload.installments;let i = index;">
                    <th scope="row">{{installment?.srNo}}</th>
                    <td><input type="text" name="installmentAmont" class="form-control"
                      (keyup)="changeValue(i, 'installmentName', $event)"
                      (blur)="updateList(i, 'installmentName', $event)"
                      value="{{installment?.installmentName}}" /></td>
                    <td><input type="text" name="installmentAmont" class="form-control"
                        (keyup)="changeValue(i, 'installmentAmount', $event)"
                        (blur)="updateList(i, 'installmentAmount', $event)"
                        value="{{installment?.installmentAmount}}" />
                    </td>
                    <td>
                      <input type="text" name="dueDate" class="form-control" (keyup)="changeValue(i, 'dueDate', $event)"
                        (blur)="updateList(i, 'dueDate', $event)" value="{{installment?.dueDate}}" bsDatepicker />
                    </td>
                    <td>
                      <select name="status" (change)="updateList(i, 'status', $event)" class="form-control select-box-height">
                        <option value="Due" [selected]="installment?.status == 'Due'">Not Paid</option>
                        <option value="Paid" [selected]="installment?.status != 'Due'">Paid</option>
                      </select>
                    </td>
                  </tr>
                </tbody>
                <tbody *ngIf="isUpdate">
                  <!-- (keyup)="changeValue(id, 'name', $event)" (blur)="updateList(id, 'name', $event)" contenteditable="true" -->
                  <tr *ngFor="let installment of payload.installments;let i = index;">
                    <th scope="row">{{installment?.srNo}}</th>
                    <td>
                      <!-- {{installment?.installmentName}}  -->
                      <input type="text" [disabled]="installment.status == 'Paid'" name="installmentAmont" class="form-control"
                        (keyup)="changeValue(i, 'installmentName', $event)"
                        (blur)="updateList(i, 'installmentName', $event)"
                        value="{{installment?.installmentName}}" />
                    </td>
                    <td><input type="text" [disabled]="installment.status == 'Paid'" name="installmentAmont" class="form-control"
                        (keyup)="changeValue(i, 'installmentAmount', $event)"
                        (blur)="updateList(i, 'installmentAmount', $event)"
                        value="{{installment?.installmentAmount}}" />
                    </td>
                    <td>
                      <input type="text" [disabled]="installment.status == 'Paid'" name="dueDate" class="form-control" (keyup)="changeValue(i, 'dueDate', $event)"
                        (blur)="updateList(i, 'dueDate', $event)" value="{{installment?.dueDate}}" bsDatepicker />
                    </td>
                    <td>
                      <select name="status" [disabled]="installment.status == 'Paid'" (change)="updateList(i, 'status', $event)" class="form-control select-box-height">
                        <option value="Due" [selected]="installment?.status == 'Due'">Not Paid</option>
                        <option value="Paid" [selected]="installment?.status != 'Due'">Paid</option>
                      </select>
                    </td>
                  </tr>
                </tbody>
              </table>

            </div>
            <div class="col-md-12" *ngIf="installmentsCreated">
              <table class="table table-striped table-condensed">
                <thead>
                  <tr>
                    <th scope="col">Total Amount</th>
                    <th scope="col">Extra chages</th>
                    <th scope="col">Total Payment</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- (keyup)="changeValue(id, 'name', $event)" (blur)="updateList(id, 'name', $event)" contenteditable="true" -->
                  <tr >
                    <th>{{payload.totalPayment}}</th>
                    <th>{{plotCategoryExtraCharge}}</th>
                    <th>{{totalAmount}}</th>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button type="submit" class="btn btn-info btn-fill pull-right"
          *ngIf="installmentsCreated && !errorInInstallmetnValues && !isUpdate"  [disabled]="isLoading">Save</button>
          <button type="submit" class="btn btn-info btn-fill pull-right"
          *ngIf="installmentsCreated && !errorInInstallmetnValues && isUpdate"  [disabled]="isLoading">Update</button>
        <button type="button" (click)="createInstallment()" *ngIf="!isUpdate"
          class="btn btn-info btn-fill pull-right" style="margin-right: 10px;margin-left: 10px;" [disabled]="isLoading">Create Installments<span *ngIf="isLoading"
            class="btn-spinnerr"></span></button>
      </div>
    </div>
  </form>
</div>
<!-- </div> -->
<ng-template #shareableLink let-modal>
  <div class="bg-info text-white modal-header modal-baskt">
    <h4 class=" modal-title" id="modal-basic-title">Confirmation</h4>
    <button class="cursorPointer" id="closebtn" style="color: white;" class="close" aria-label="Close"
      (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body modal-inner-baskt" style="height: 120px;">
    <div class="container text-center" style="margin-top: 20px;">
      <p *ngIf="!isUpdate">Are you sure, you want to Add a plot</p>
      <p *ngIf="isUpdate">Are you sure, you want to Update a plot</p>
      <button class="btn btn-lg logout-btn b1" (click)="onSubmit()" [disabled]="isLoading" type="button">confirm <span *ngIf="isLoading"
        class="btn-spinnerr"></span></button>
      <button class="btn btn-lg cancel-btn b2" (click)="modal.dismiss('Cross click')" type="button">Cancel</button>
    </div>
  </div>
  </ng-template>
